Bong.Engine/Bong.Engine.Web/node_modules/
Bong.Engine/Bing.Engine.API/.vs/
Bong.Engine/Bong.Engine.Web/dist/
Bong.Engine/Bong.Engine.Web/build/
Bong.Web/Bong.Mesh/Console1/obj/
Bong.Web/Bong.Mesh/.vs/
Bong.Web/Bong.Portal/.vs/
Bong.Web/Bong.Portal/Bong.Portal/bin/
Bong.Web/Bong.Portal/Bong.Portal/obj/
.vs/
bin/
obj/
Core/Bong.Admin/node_modules/
Core/Bong.Portal/Properties/PublishProfiles/
Core/Bong.Admin/dist/
Bong.csproj.user
*.user
