@import "../node_modules/spectre.css/src/spectre";

.bong {
    .bong-menu {
        background: $bg-color;
        padding: 0 1rem;

        .accordion {
            label:hover {
                color: $primary-color;
            }
        }
    }

    .bong-panel-list {
        border: none;
    }

    .off-canvas {
        .off-canvas-content {
            padding: 0;
        }
    }

    .editor {
        border: 1px solid $gray-color;

        .hidden {
            height: 0;
            width: 0;
        }

        button {
            background-color: $gray-color-light;
            border: 1px solid $dark-color;
            margin: 0.25rem;

            &.bold {
                font-weight: bold;
            }

            &.italics {
                font-style: italic;
            }

            &.underline {
                text-decoration: underline;
            }
        }

        .DraftEditor-root {
            padding: 1rem;
        }
    }
}