@model object

@section styles {
    <link rel="stylesheet" type="text/css" href="~/themes/Default/styles/spectre.min.css" />
    <link rel="stylesheet" type="text/css" href="~/themes/Default/styles/spectre-exp.min.css" />
    <link rel="stylesheet" type="text/css" href="~/themes/Default/styles/spectre-icons.min.css" />
}

@section scripts
{}

@{
    ViewBag.Title = "Hello from Bong!";
    Layout = "_Layout";
}

<header class="navbar">
    <section class="navbar-section">
        <a href="#" class="btn btn-link">Docs</a>
        <a href="#" class="btn btn-link">Examples</a>
    </section>
    <section class="navbar-center">
        <strong>BONG</strong>
    </section>
    <section class="navbar-section">
        <a href="#" class="btn btn-link">Twitter</a>
        <a href="#" class="btn btn-link">GitHub</a>
    </section>
</header>
