@model Bong.Posts.ViewModels.ListViewModel
@{
    Layout = "_Layout";
}


<div class="columns module-header">
    <div class="column">
        <h1>Posts</h1>
    </div>
    <div class="column text-right">
        <a href="@Url.Action("Create")" class="btn btn-primary">Create a post</a>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Url</td>
                <td>
                    <a href="@Url.Action("Create")" class="btn">Edit</a>
                </td>
            </tr>
        }
    
    </tbody>
</table>