<div class="columns">
    <div class="column col-lg-12">
        <header class="navbar">
            <section class="navbar-section">
                <a href="#" class="btn btn-link">Home</a>
            </section>
            <section class="navbar-center">
                <strong>BONG</strong>
            </section>
            <vc:menu></vc:menu>
        </header>
    </div>
</div>