@model object

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Themes/Bong.AdminTheme/Styles/spectre.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Themes/Bong.AdminTheme/styles/spectre-exp.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Themes/Bong.AdminTheme/styles/spectre-icons.min.css" />
}

@section scripts
{}

@{
    ViewBag.Title = "Hello from Bong!";
    Layout = "_Layout";
}

<div class="columns col-gapless">
    <div class="column col-2">
        <vc:admin-menu></vc:admin-menu>
    </div>
    <div class="column col-10">Main Space</div>
</div>

